
p {
  color: white;
}
h3.titles303 {
  color: white;
}

h3.vapor303 {
  text-decoration: underline overline;
  text-align: center;
}

table.vapor303 {
  width: 100%
}
td {
  color: white;
  background-color: rgba(0,0,0,0.5);
}
tr {
  color: white;
}
footer {
  display: block;
  background: black;
}
div.view303 {
  height: 400px;
  display: block;
}
div.custom1hours{
  display: block;
  color: white;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}
div.custom1location{
  display: block;
  color: white;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

